@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Design system styles */

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  background: var(--light-grayish-blue);
  font-family: 'Manrope', 'sans-serif';
  font-size: 0.8125rem;
  font-weight: 500;
  color: var(--very-dark-grayish-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4.625rem 1.5rem;
  position: relative;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 17.5rem;
  max-width: 20.4375rem;
  background: #ffffff;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.img-container {
  width: 100%;
  height: 200px;
}

.hero-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25rem 2rem 1.25rem 2rem;
}

.article-heading {
  font-weight: 700;
  font-size: clamp(1rem, 0.38vw + 0.91rem, 1.25rem);
  line-height: clamp(1.5rem, 0.38vw + 1.41rem, 1.75rem);
  letter-spacing: 0.0138rem;
}

.article-paragraph {
  margin-top: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.0076rem;
  color: var(--desaturated-dark-blue);
}

.author-and-share {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author-picture {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.name {
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.0076rem;
}

.birthdate {
  color: var(--grayish-blue);
  line-height: 1.25rem;
  letter-spacing: 0.0076rem;
}

.share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);
  font-size: 0.8125rem;
  cursor: pointer;
  z-index: 2;
  transition: all ease-in-out 0.2s;
}

.share-button:active {
  background-color: var(--desaturated-dark-blue);
  color: #fff;
}

.share-button.opened {
  transform: rotate(360deg);
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  background-color: var(--desaturated-dark-blue);
  color: #fff;
}

.share-container {
  position: absolute;
  opacity: 0;
  bottom: -100px;
  background-color: var(--very-dark-grayish-blue);
  width: 100%;
  padding: 1.375rem 2rem;
  display: flex;
  gap: 1rem;
  z-index: 1;
  transition: bottom ease-in-out 0.3s, opacity ease-in-out 0.3s;
}

.share-container.visible {
  bottom: 0px;
  opacity: 1;
}

.share-container.hide {
  transition: bottom ease-in-out 0s, opacity ease-in-out 0s;
}

.share-paragraph {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--grayish-blue);
}

.icon {
  width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  transition: border-color ease-in 0.1s, color ease-in 0.1s;
}

.icon:visited {
  text-decoration: none;
  color: #fff;
}

.icon:hover {
  color: var(--desaturated-dark-blue);
}

i {
  color: inherit;
  font-size: 1.25rem;
}

i:hover {
  color: inherit;
}

.attribution {
  position: absolute;
  font-family: 'Montserrat', 'sans-serif';
  flex: none;
  padding: 0.625rem;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: var(--desaturated-dark-blue);
  font-weight: 400;
}

.attribution a,
.attribution a:visited {
  text-decoration: underline;
  color: var(--desaturated-dark-blue);
}

.attribution a:hover {
  font-weight: 500;
}

@media (min-width: 56.25rem) {
  .article {
    flex-direction: row;
    max-width: 45.625rem;
    height: 17.5rem;
    overflow: visible;
  }

  .img-container {
    height: 100%;
    width: 17.8125rem;
    border-radius: 0.625rem 0 0 0.625rem;
    overflow: hidden;
  }

  .hero-picture {
    object-position: center left;
  }

  .text-container {
    padding: 2rem 2.5rem;
    width: 27.8125rem;
  }

  .author-and-share {
    margin-top: 1.25rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .share-button.opened {
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--desaturated-dark-blue);
    color: #fff;
  }

  .share-container {
    opacity: 0;
    bottom: 6rem;
    right: -4.25rem;
    width: 15.5rem;
    height: 3.4375rem;
    padding: 1.125rem 2.25rem;
    box-shadow: 0px 0.625rem 0.625rem rgba(201, 213, 225, 0.503415);
    border-radius: 0.625rem;
    transition: opacity ease-in-out 0.3s;
  }

  .share-container.visible {
    opacity: 1;
    bottom: 6rem;
  }

  .share-container::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--very-dark-grayish-blue);
  }
}
